.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.predGraph {
  margin: auto;
  width: 100%;
}

.graph {
  margin: auto;
  width: 60%;
  border-color: rgb(52, 56, 56);
  border-style: solid;
  border-radius: 15px;
  padding: 30px;
  height: 60vh;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .graph {
    padding: 5px;
    width: 90%;
    height: 45vh;
  }
}

h1 {
  color: rgb(52, 56, 56);
  font-family: "Playfair Display";
  font-weight: 600;
  transition: 1s;
}
