.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.predGraph {
  margin: auto;
  width: 100%;
}

.graph {
  margin: auto;
  width: 60%;
  border-color: rgb(52, 56, 56);
  border-style: solid;
  border-radius: 15px;
  padding: 30px;
  background-color: white;
}

h1 {
  color: rgb(52, 56, 56);
}
